#main
{   
    background:"grass.jpeg";
    margin: auto;
    width: 50%;
    height:100%;
    background: rgb(255, 255, 255)
}
h2
{
    position: absolute;
    left:610px;
    top:0%;
    color: rgb(56, 5, 197)
    
}
#level
{
    position: absolute;
    left:360px;
    top:3.5%;
    color: rgb(56, 5, 197)
    
}
#badge
{
    position: absolute;
    left:360px;
    top:0%;
    color: rgb(56, 5, 197)
    
}
#first-heart
{   
    mix-blend-mode: multiply;
    position: absolute;
    right:650px;
    top:7%;
    width:2.5%;
    height:2.5%;

}
#second-heart
{   
    mix-blend-mode: multiply;
    position: absolute;
    right:685;
    top:7%;
    width:2.5%;
    height:2.5%;


}
#third-heart
{   
    mix-blend-mode: multiply;
    position: absolute;
    right:720;
    top:7%;
    width:2.5%;
    height:2.5%;
}

#volume-btn
{
    position: absolute;
    left: 950px;
    top:4%;
}  

#ball
{
width: 12%;
height: 12%;
}
#box
{   
    mix-blend-mode: multiply;
    position: absolute;
    right:580;
    bottom:0%;
    width:240px;
    height:150px;
}

